extends pug/base

prepend vars
	//-

append vars
	//-

block content
	include pug/data

	.site
		include pug/components/header

		include pug/pages/home

		include pug/components/footer

		.js-back-to-top(href='#body')
			span.js-back-to-top__arrow
			.js-back-to-top__percent

	include pug/components/analytics
